<div id="login">
  <h1>
    <a href="https://chapman.edu/" title="Chapman University">Chapman Newsroom</a>
  </h1>

  <div id="welcome">
    <h2>Welcome!</h2>
    <p class="welcome">Please enter your Chapman username and password.</p>
  </div>

  <% unless flash[:alert].blank? %>
    <div id="login_error">
      <% if flash[:alert].include? "missing identity information" %>
        <p><strong>ERROR</strong>: There is a problem with your account, please contact the Service Desk.</p>
        <p>Online: <a href="http://servicedesk.chapman.edu">servicedesk.chapman.edu</a></p>
        <p>Email: <a href="mailto:servicedesk@chapman.edu%20">servicedesk@chapman.edu</a></p>
      <% else %>
        <strong>ERROR</strong>: <%= flash[:alert] %>
        <a href="https://webfarm.chapman.edu/AccountManagement/" title="Password Lost and Found">Did you lose your password</a>?
        <br>
      <% end %>
    </div>
  <% end %>

  <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
    <p>
      <%= f.text_field :username, autofocus: true, size: 20, placeholder: "Username" %>
    </p>

    <% if devise_mapping.rememberable? %>
      <p class="remember-me">
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      </p>
    <% end %>

    <p>
      <%= f.password_field :password, autocomplete: "off", placeholder: "Password" %>
    </p>

    <p class="submit"><%= f.submit "Log in", class: 'submit large' %></p>

    <p id="footer">
      <a href="https://idm.chapman.edu/" title="Password Lost and Found">Lost your password?</a>
    </p>
  <% end %>
</div>
