<div class="card">
  <h5 class="card-header">
    <%= @user.full_name %>
  </h5>
  <div class="card-body">
    <p>
      <strong>Email:</strong> <%= @user.email %>
    </p>
    <p>
      <strong>Username:</strong> <%= @user.username %>
    </p>
    <p>
      <strong>Role:</strong> <%= @user.role_label %>
    </p>
    <%= link_to "Back", admin_path, { "aria-label" => "Back to all users", :class => "btn btn-outline-dark" } %>
    <%= link_to "Edit User", edit_user_path(@user), { "aria-label" => "Edit this user", :class => "btn btn-dark" } %>
  </div>
</div>
