<!DOCTYPE html>
<html class="<%=controller.controller_name %>">
  <head>
    <title><%= yield(:title) %></title>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>
    <%= favicon_link_tag 'favicon.ico' %>
    <%= stylesheet_link_tag "admin" %>
    <%= javascript_include_tag "admin" %>

    <%= csrf_meta_tags %>
    <script type="text/javascript" src="//use.typekit.net/eyn5jyy.js"></script>
    <script>try{Typekit.load();}catch(e){}</script>
  </head>

  <!-- Bootstrap Navigation Bar -->
  <%# only show navbar if a user is logged in and has permissions %>
  <% if current_user %>
    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
      <a class="navbar-brand" href="#">Newsroom Admin</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="<%= admin_path %>">Users<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
              Widgets
            </a>
            <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
              <a class="dropdown-item" href="#">Featured Story</a>
              <a class="dropdown-item" href="#">Events</a>
            </div>
          </li>
        </ul>
        <%= link_to "Logout", destroy_user_session_path, {method: :delete, class: "my-2 my-sm-0 btn btn-secondary"} %>
      </div>
    </nav>
  <% end %>

  <body>
    <%= yield %>
  </body>
</html>
